
:root{
    --main-color: #3a6cf4;
    --second-color: #4e93ff;
    --third-color:#000016;
    --fourth-color:#2B2B2B;
    --fifth-color:#ebeeee;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Component */
.special-heading{

    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--second-color);
    font-weight: 800;
    letter-spacing: -3px;

}
.special-heading +p{
    margin-top: -25px;
    text-align: center;
    font-size: 15px;
    color: #797979;
}


header{
    padding-left: 40px;
    padding-right: 50px;
    background-color: #f0f0f0;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
header .abdo{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}
header .navigation a{
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
    color: var(--main-color);
}
header .navigation a:hover{
    color: #601cfc;
}

section{
    padding: 100px 200px;
}

.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    background: url(images/background.jpeg) no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    /* background-image: url(images/background.jpeg); */
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}


.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: var(--second-color);
    font-size: 1.8em;
    font-weight: 600;

}

.main h3{
    color: #f6f6f6;
    /* font-size:  1.6em;
    /* font-weight: 700; */
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0px; 
}

.main .social-icon a{
    color: #fff;
    font-size: 1.2em;
    padding-right: 5px;
}

/* About me */

.about{
    background-color:var(--third-color);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .about-content{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 30px;
    /* grid-template-columns: repeat(2, minmax(300px , 1fr)); */
}

.about .info{
    padding-left: 40px;
}
.about .about-content h2{
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
}

.about .about-content p{
    padding-left: 10px;
    background:transparent ;
    margin-bottom: 10px;
    color: darkgrey;
}

.about .about-content img{
    border-radius: 50%;
    width: 100%;
    border: 1px solid #777;
}
.about .about-content span{
    color: #fff;
}
.about .image-info{
    /* width: 100px;
    height: 100px; */
    width: 300px;   
}

.projects {
    background-color: var(--fifth-color);
}
.projects .container{
    /* padding-left: 200px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px; */
    margin: 0 50px;
    padding-top: 60px;
}
.projects .title{
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
    color: var(--main-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.projects .project-content{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
}
.projects .project-card{
    padding-right: 20px;
}
.projects .project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 10em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    transition: 0.7s ease;
}
.projects .project-card:hover{
    transform: scale(1.1);
}
.projects .project-card:hover .image-info{
    opacity:0.9;
}
.projects .image-info{
    width: 20em;
    /* background-color: red; */
}
.projects .image-info img{
    width: 100%;
}
.projects .project-info{
    padding: 1em;
}
.project-title{
    font-size: 16px;
    color: var(--second-color);
    font-weight: 600;
}
.project-info .explore{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    text-align: center;
    /* color: #fff; */
    width: 76px;
    height: 49px;
    background-color: var(--second-color);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 30px;
}
.explore a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.explore :hover{
    color: #601cfc;
}

.contact .container{
    margin: 0 50px;
    padding-top: 60px;
}
.contact-details{
    padding-left: 60px;
}
.contact-details h2{
    color: #2c4755;
    padding-bottom: 10px;
}
.contact-details .name{
    padding-left: 5px;
    color: #777;

    line-height: 1.8;
    padding-bottom: 30px;
}
.small-contact{
    margin-bottom: 30px;
    color: #2c4755;
}
.contact-icons{
    font-size: 50px;
    color: #2c4755;
    padding-left: 30px;
}
.contact-icons i{
    margin-left: 30px;
    transition: 0.7s ease;
}
.contact-icons i:hover {
    transform: scale(1.2);
}